<%= link_to "â† Back", root_path, class: "block mb-4 no-underline text-blue-500" %>

<div class="flex justify-between items-center mb-4">
  <h1 class="mb-0">
    <%= @password.url %>
    <%= link_to @password.url, target: :_blank do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline-block text-blue-500 ms-1 w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
      </svg>

    <% end %>
  </h1>
  <%= link_to 'Edit', edit_password_path(@password) if @password.editable_by?(current_user) %>
</div>

<h3 class="mb-3">Credentials</h3>
<h6 class="text-sm mb-2">Username/Email</h6>
<div class="flex gap-1 items-center">
  <pre class="my-0 flex-grow"><code><%= @password.username %></code></pre>
  <%= button_tag "Copy", class: "px-5 py-2.5 bg-gray-200 rounded", data: { controller: 'clipboard', action: "click->clipboard#copy", clipboard_content_value: @password.username } %>
</div>

<h6 class="text-sm mb-2 mt-4">Password</h6>
<div class="flex gap-1 items-center">
  <pre class="my-0 flex-grow"><code><%= @password.password %></code></pre>
  <%= button_tag "Copy", class: "px-5 py-2.5 bg-gray-200 rounded", data: { controller: 'clipboard', action: "click->clipboard#copy", clipboard_content_value: @password.password } %>
</div>

<hr>

<div class="flex justify-between items-center mb-4">
  <h3 class="my-0">Shared with</h3>
  <%= link_to "Add user", new_password_share_path(@password) if @password.shareable_by?(current_user) %>
</div>
<table class="w-full">
  <thead>
    <tr>
      <th class="text-left">Email</th>
      <th class="text-left">Role</th>
      <% if @password.shareable_by?(current_user) %>
        <th class="text-left">Action</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @password.user_passwords.includes(:user).each do |user_password| %>
      <tr>
        <td><%= user_password.user.email %></td>
        <td><%= user_password.role.titleize %></td>
        <% if @password.shareable_by?(current_user) %>
          <td><%= button_to "Revoke", password_share_path(@password, user_password.user), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "font-semibold text-red-500" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
